@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 20pt;
    padding-bottom: 20pt;
}

#color {
    width: 60pt;
    height: 60pt;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 100%;
    margin: 1pt;
    margin-bottom: 20pt;

}

.container {
    background-color: #eee;
    margin: 30pt;
}

.slider {
    margin-bottom: 20pt;
}

#palette {
    text-align: center;
}

.ui-slider .ui-slider-handle{
    width: 1.7em;
    height: 1.7em;
    top: -0.5em;
    border-radius: 100%;
}

.color-label {
    font-size: 7pt;
    background-color: #ffffff;
    color: #2b2b2b;
    border-radius: 3pt;
    position: relative;
    top: 63pt;
    padding-left: 3pt;
    padding-right: 3pt;
    display: inline;
}

.value {
    float: right;
}

#color-format {
    margin-top: -15pt;
}